.root{
    -fx-background-color: #161018;
}

#flowPane{
    -fx-alignment: center;
}
#vBoxContainer {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-background-color: #e5e5e5;
    -fx-padding: 10px;
    -fx-min-width: 200;
    -fx-min-height: 200;
    -fx-background-radius: 4px;
}

#vBoxContainer:hover{
    -fx-scale-x: 1.015;
    -fx-scale-y: 1.015;
}

.text-field{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #111;
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-font-family: "Segoe UI";
}

.text-field:hover{
    -fx-background-color: rgba(70, 39, 107, 0.38);
}

.text-area{
    -fx-min-width: 120;
    -fx-min-height: 80;
    -fx-max-width: 120;
    -fx-max-height: 80;
}

.check-box{
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-padding: 3px;
    -fx-background-radius: 4px;
    -fx-font-family: "Segoe UI";

    -fx-mark-highlight-color: black;
    -fx-mark-fill: black;
    -fx-mark-stroke: black;
    -fx-mark-shape: "M2 O L4 2 L7 O L9 2 L11 O L7 4 Z";
}

.check-box .box{
    -fx-background-color: transparent;
}

.check-box:hover {
    -fx-background-color: rgba(70, 39, 107, 0.38);
}

.button{
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 0px 0px 1px 0px;
}
.button:hover{
    -fx-background-color: rgba(70, 39, 107, 0.38);
}
